<launch>

    <!-- Static transform from left camera to LIDAR -->
    <node pkg="tf2_ros" type="static_transform_publisher" name="zed_left_camera_optical_frame_to_velodyne"
        args="5.214154202176700392e-02 -1.846812214940576902e-01 -4.561479952008089256e-02 -3.046857448372968236e+00 -1.631619169438448314e+00 -1.657808369943630566e+00 zed_left_camera_optical_frame velodyne"/>

    <node pkg="slam_toolbox_example" type="openvslam_odom_to_base_link.py" name="openvslam_odom_to_base_link" output="screen"/>
    
    <node pkg="pointcloud_to_laserscan" type="pointcloud_to_laserscan_node" name="pointcloud_to_laserscan" output="screen">
        <remap from="cloud_in" to="/velodyne_points" />
    </node>

    <node pkg="slam_toolbox" type="async_slam_toolbox_node" name="slam_toolbox" ns="slam_toolbox" output="screen">
        <rosparam command="load" file="$(find slam_toolbox_example)/config/config.yaml"/>
        <remap from="/map" to="map"/>
    </node>

</launch>
